/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* MUTUAL STYLES */

:root {
  --background--color: rgb(219, 219, 219);
  --dark--elements--color: #111111;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Chomsky", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  background-color: var(--background--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--background--color);
  z-index: 0;
  max-width: initial;
}

textarea {
  -webkit-animation: blinkIn 1.5s ease-in-out forwards;
          animation: blinkIn 1.5s ease-in-out forwards;
}

Link {
  -webkit-tap-highlight-color: transparent;
}

@-webkit-keyframes blinkOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blinkOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blinkIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinkIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}